body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: blue;
    padding: 30px 0;
    text-align: center;
    color: white;
}

nav ul {
    background-color: black;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0;
}

a
{
    text-decoration: none;
    color: white;
}

nav ul li {
    padding: 15px;
    display: inline-block;
}

nav ul li:hover {
    background-color: blue;
    padding: 5px;
}

.content article{
float: left;
width: 600px;
}
.content ul img
{
  float: right;
  width: 600px;
}
]
.content ul
{
  float: right;
  width: 600px;
  background: blue;
  padding: 20px;
  border-radius: 5px;
  list-style: none;
}
.content ul li
{
  color: White;
  margin-bottom: 5px;
}
